Source: statsite
Section: unknown
Priority: optional
Maintainer: Daniil Guzanov <melkor217@gmail.com>
Build-Depends: debhelper (>= 8.0.0), scons, cdbs, check
Standards-Version: 3.9.4
Homepage: https://github.com/armon/statsite
Vcs-Git: https://github.com/armon/statsite.git
Vcs-Browser: https://github.com/armon/statsite

Package: statsite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: C implementation of statsd
