Package: statsite
Version: 0.6.0+git20-1
Architecture: i386
Maintainer: Daniil Guzanov <melkor217@gmail.com>
Installed-Size: 155
Depends: libc6 (>= 2.9)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
